.gallery{
    $self: &;
    &--1{
        #{$self}{
            &__image{
                position: relative;
                max-width: 100%;
                @include media-breakpoint-down(xs){
                    text-align: center;
                }
                &--first{
                    width: rem-calc(340px);
                    height: rem-calc(410px);
                    margin-top:rem-calc(200px);
                    &:after{
                        content:'';
                        background: url('../img/about-after.svg') center center no-repeat;
                        background-size: cover;
                        position: absolute;
                        top:100%;
                        right: 0;
                        width: 67px;
                        height: 66px;
                        margin-top: rem-calc(24px);
                    }
                    @include media-breakpoint-down(lg){
                        margin-top: rem-calc(140px);
                        height: rem-calc(360px);
                    }
                    @include media-breakpoint-down(xs){
                        width: auto;
                        height: auto;
                        margin-bottom: rem-calc(24px);
                        margin-top: 0;
                        &:after{
                            display: none;
                        }
                    }
                }
                &--second{
                    width: rem-calc(300px);
                    height: rem-calc(500px);
                    &:after{
                        content:'';
                        background: url('../img/about-after2.svg') center center no-repeat;
                        background-size: cover;
                        position: absolute;
                        bottom:0;
                        left: calc(100% + 24px);
                        width: 104px;
                        height: 42px;
                    }  
                    @include media-breakpoint-down(lg){
                        height: rem-calc(400px);
                        width: rem-calc(240px);
                        &:after{
                            display: none;
                        }
                    }
                    @include media-breakpoint-down(xs){
                        width: auto;
                        height: auto;
                    }
                }
                &--third{
                    margin-top:rem-calc(24px);
                    width: 100%;
                    height: rem-calc(260px);
                    @include media-breakpoint-down(lg){
                        height: rem-calc(220px);
                    }
                    @include media-breakpoint-down(xs){
                        width: auto;
                        height: auto;
                    }
                }
                img{
                    @include image-cover;
                }
            }
        }
    }
}