<div class="footer__inner">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="footer__box footer__box--list">
                    <p class="footer__heading"><i class="far fa-briefcase"></i> Dane firmy</p>
                    <ul class="footer__list">
                        <li><span>Format Meble Michał Humeniuk</span></li>
                        <li><span>lorem ipsum</span></li>
                        <li><span>lorem ipsum</span></li>
                        <li><span>lorem ipsum</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="footer__box footer__box--list">
                    <p class="footer__heading"><i class="far fa-info"></i> Informacje</p>
                    <ul class="footer__list">
                        <li><a href="#">O nas</a></li>
                        <li><a href="#">Nasz oferta</a></li>
                        <li><a href="#">Realizacje</a></li>
                        <li><a href="#">Polityka cookies</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="footer__box footer__box--list">
                    <p class="footer__heading"><i class="far fa-link"></i> Znajdź nas na</p>
                    <ul class="footer__list">
                        <li><a href="#">Nasz facebook</a></li>
                        <li><a href="#">Nasz instagram</a></li>
                        <li><a href="#">Opinie o naszej firmie</a></li>
                        <li><a href="#">Wpis CEIDG</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="footer__box footer__box--list">
                    <p class="footer__heading"><i class="far fa-envelope"></i> Dane kontaktowe</p>
                    <ul class="footer__list">
                        <li><a href="#">Formularz kontaktowy</a></li>
                        <li><a href="#">+48 666 666 666</a></li>
                        <li><a href="#">kontakt@format-meble.com.pl</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer__bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="footer__copy">
                    <p>Wszelkie prawa zastrzeżone &copy; <?php echo date('Y') ?></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer__kch">
                    <p>Realizacja: <a href="mailto:kontakt@kchmielewski.pl">kch.software</a></p>
                </div>
            </div>
        </div>
    </div>
</div>