<div class="footer__inner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="footer__box footer__box--text">
                    <div class="footer__logo">
                        <img src="<?php echo $this->theme_assets ?>img/logo.png" alt="Logo">
                    </div>
                    <div class="footer__text">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis a voluptatum odio consequuntur repellat placeat voluptate obcaecati tempora, molestias itaque sequi quod eius aspernatur mollitia sint exercitationem perferendis! Blanditiis esse doloremque minima assumenda vero debitis dignissimos doloribus voluptatum. Quo facere architecto neque sequi. Aperiam, animi. Suscipit illum dolore earum odit?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer__box footer__box--list">
                    <h5 class="footer__heading">Informacje</h5>
                    <ul class="footer__list">
                        <li><a href="#">O nas</a></li>
                        <li><a href="#">Nasz oferta</a></li>
                        <li><a href="#">Realizacje</a></li>
                        <li><a href="#">Kontakt</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer__box footer__box--list">
                    <h5 class="footer__heading">Dane firmy</h5>
                    <ul class="footer__list">
                        <li><span>Format Meble Michał Humeniuk</span></li>
                        <li><span>lorem ipsum</span></li>
                        <li><span>lorem ipsum</span></li>
                        <li><span>lorem ipsum</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer__box footer__box--list">
                    <h5 class="footer__heading">Dane kontaktowe</h5>
                    <ul class="footer__list">
                        <li><a href="#">tel: +48 666 666 666</a></li>
                        <li><a href="#">email: kontakt@format-meble.com.pl</a></li>
                    </ul>
                    <div class="footer__icons">
                        <a href="#"><i class="far fa-facebook-f"></i></a>
                        <a href="#"><i class="far fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer__bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <div class="footer__copy">
                    <p>Wszelkie prawa zastrzeżone &copy; <?php echo date('Y') ?></p>
                </div>
            </div>
            <div class="col">
                <div class="footer__kch">
                    <p>Realizacja: <a href="#">kch.software</a></p>
                </div>
            </div>
        </div>
    </div>
</div>