<!DOCTYPE html>
<html lang="en">
<head>
    <?php echo $this->render('_partials/head') ?>
</head>
<body>
    <header class="header header--<?php echo $this->data['page']['name'] ?>">
        <?php echo $this->render('_partials/header') ?>
    </header>
    <?php if(!empty($this->getNotifications())): ?>
    <div class="notifications">
        <?php foreach($this->getNotifications() as $key => $type): ?>
            <div class="alert alert-<?php echo $key ?>">
                <?php foreach($type as $msg): ?>
                <p><?php echo $msg ?></p>
                <?php endforeach ?>
            </div>
        <?php endforeach ?>
    </div>
    <?php endif ?>
    <main class="main">
        <?php echo $this->render($this->getTemplate()) ?>
    </main>
    <footer class="footer footer--<?php echo $this->data['page']['name'] ?>">
        <?php echo $this->render('_partials/footer') ?>
    </footer>
    <?php $this->render('_partials/javascript') ?>
</body>
</html>