<section id="homeslider" class="homeslider">
    <div class="homeslider__inner">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="homeslider__image">
                        <img src="<?php echo $this->theme_assets ?>img/slide.jpg" alt="Realizacja lorem ipsum">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="homeslider__image">
                        <img src="<?php echo $this->theme_assets ?>img/slide.jpg" alt="Realizacja lorem ipsum">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>