<section id="realisations" class="realisations">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="realisations__image">
                    <img src="<?php echo $this->theme_assets ?>img/realisations.jpg" alt="Realizacja lorem ipsum">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="realisations__image">
                    <img src="<?php echo $this->theme_assets ?>img/realisations.jpg" alt="Realizacja lorem ipsum">
                </div>
            </div>
        </div>
    </div>
    <div class="realisations__inner">
        <div class="container">
            <div class="realisations__content">
                <span class="realisations__lead main-lead">Z pasją i oddaniem</span>
                <h2 class="realisations__head main-head main-head--white">Nasze realizacje</h2>
                <a href="#" class="realisations__link main-link main-link--white">
                    Sprawdź więcej
                </a>
            </div>
        </div>
    </div>
</section>