<section class="about" data-bg="bright">
    <div class="about__inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="about__content">
                        <span class="about__lead main-lead">Precyzyjnie i solidnie</span>
                        <p class="about__head main-head">Kilka słów o nas</p>
                        <p class="about__text main-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quos quidem distinctio ipsam, eum saepe labore. Fugiat molestias ipsam ab quaerat ad debitis nobis magni earum sed magnam, perferendis, unde quas? Esse quo nisi magni voluptate, odit illum natus sit ipsum. Officiis quisquam tenetur dolore dicta magni quae veritatis porro?</p>
                        <a href="#" class="about__link main-link main-link--gold main-link--hover-dark">
                            Więcej o nas
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-6">
                            <div class="about__image about__image--first">
                                <img src="<?php echo $this->theme_assets ?>img/about1.jpg" alt="Realizacja">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="about__image about__image--second">
                                <img src="<?php echo $this->theme_assets ?>img/about2.jpg" alt="Realizacja">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>