<section class="contact" data-bg="bright">
    <div class="contact__inner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="contact__content">
                        <span class="contact__lead main-lead">Doświadczenie i terminowość</span>
                        <h2 class="contact__head main-head main-head--small">Skontaktuj się z nami</h2>
                        <a href="#" class="contact__link main-link main-link--dark">
                            Formularz kontaktowy
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact__phone">
                        <a href="#">
                            <i class="fal fa-phone"></i>
                            +48 724 379 080 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>