<div class="contact-data">
    <p class="contact-data__title">Dane kontaktowe</p>
    <p class="contact-data__text contact-data__text--subtitle"><i class="far fa-briefcase"></i><span><b>Format Meble</b><br> Meble na wymiar Michał Humeniuk</span></p>
    <p class="contact-data__text contact-data__text--address">
        <i class="far fa-map-marker-alt"></i>
        <span>
            12-123 Twardogóra<br>
            ul. Ćwiartki 3/4<br>
            NIP: 123 456 789<br>
        </span>
    </p>
    <p class="contact-data__text contact-data__text--phone"><a href="#"><i class="far fa-phone"></i> +48 666 666 666</a></p>
    <p class="contact-data__text contact-data__text--mail"><a href="#"><i class="far fa-at"></i> Kontakt@format-meble.com.pl</a></p>
</div>