<div class="gallery gallery--2">
    <div class="row">
        <div class="col-sm-6">
            <div class="gallery__image gallery__image--first">
                <img src="<?php echo $data['images'][0]['url'] ?>" alt="<?php echo $data['images'][0]['alt'] ?>">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="gallery__image gallery__image--second">
                <img src="<?php echo $data['images'][1]['url'] ?>" alt="<?php echo $data['images'][1]['alt'] ?>">
            </div>
        </div>
    </div>
</div>